/* styles/footer.css */
.footer-props {
    background-color: #2E6171;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .Copywrite {
    margin: 0;
    text-align: left;
  };