.search-bar {
    border-radius: 50px;
    margin-top: 200px;
    width: 35%;
    height: 50px;
    padding: 12px;
    outline: none;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
}

.search-bar-button {
    border-radius: 50px;
    width: 5%;
    height: 50px;
    background-color: #526bb6fa;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    margin-left: 0.75em;
}

.search-bar::placeholder {
    font-size: large;
    color: #526bb6fa;
    transition: color 0.3s ease;
}

.search-bar:focus::placeholder {
    color: transparent;
}